body {
    background-color: seashell;
}
.searchBooks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}

.searchBtn {
    margin-top: 15px;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
